.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myElement {
  /* Thiết lập kích thước ban đầu của phần tử */
  /* Thiết lập hiệu ứng chuyển động */
  transition: transform 0.3s ease;
  width: 100%;
  /* Thiết lập hình nền */
  /* Thiết lập kiểu con trỏ mặc định */
  cursor: pointer;
}

/* Thiết lập hiệu ứng khi hover vào */
.myElement:hover {
  /* Scale phần tử lên khi hover vào */
  transform: scale(1.05);
  /* Thay đổi hình dạng của con trỏ chuột khi hover vào */
  cursor: pointer;
}
